html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif !important;
}
.Folio,
.Port {
  /* font-family: "Courier New", Courier, monospace; */
  color: rgb(255, 147, 6);
  /* letter-spacing: 0.4rem; */
  /* font-weight: 600; */
  font-size: 1.5rem;
}
.Folio {
  color: rgb(255, 147, 6);
}

.fa-chevron-down {
  color: rgb(255, 147, 6);
}
.fa-chevron-down:hover {
  color: white;
}
.wrapper {
  outline: 0 !important;
}
i {
  color: #2fccd0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
li {
  list-style: none;
}

p {
  font-weight: 0.9rem;
  line-height: 1.6;
  font-weight: 400;
  color: #606060;
}

h2 {
  font-size: 0.9rem;
  margin: 20px 0 15px 0;
  font-weight: bold;
  line-height: 1.1;
  word-spacing: 4px;
}
.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/bg1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  /* clip-path: polygon(100% 0, 100% 0, 100% 87%, 0 100%, 0 0); */
}
.header:before {
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  opacity: 0.3;
  z-index: -1;
  /* background: linear-gradient(to right, white 0%, white 0%, black 100%); */
}

.navbar:before {
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  opacity: 0.3;
  z-index: -1;
  /* background: linear-gradient(to right, #1e6799 0%, #3ccdbb 0%, #16c9f6 100%); */
}

.nav-item a {
  color: #fff !important;
  font-weight: bold;
}

.header-section {
  display: flex;
  height: 100vh;
  width: 100%;
  margin: 0;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.center-div {
  text-align: center;
  color: white;
}

.header-botton a {
  border: 2px solid rgb(255, 147, 6);
  margin: 0 5px;
  /* border-radius: 10px; */
  padding: 12px 25px;
  color: rgb(255, 147, 6);
  font-size: 1rem;
  line-height: 1.4;
  /* font-weight: 600; */
  text-align: center;
  transition: 0.5s ease-in-out;
}
.header-botton a:hover {
  color: white;

  border: 2px solid white;
  /* background-color: rgba(255, 147, 6, 0.7); */
  text-decoration: none;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

@media (max-width: 300px) {
  .header-botton a {
    display: block;
    margin-top: 15px;
  }
}

.center-div p {
  font-size: 1.3rem;
  padding: 10px 0 20px 0;
  color: white;
}

.header-extradiv {
  width: 100%;
  height: auto;
  margin: 50px 0;
  text-align: center;
}

.extra-div {
  background: white;
  border: medium none;
  padding: 50px !important;
  border-radius: 3px;
  transition: 0.5s;
}
.icons {
  color: rgb(255, 147, 6) !important;
}

.extra-div h2 {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: rgb(255, 147, 6);
}
.extra-div p {
  color: #090909;
  font-weight: 300;
  text-align: justify;
}

.extra-div {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}
.extra-div:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  transform: translateY(-20px);
}

.serviceoffers {
  background: #f7f7f9;
  padding: 50px 0;
  margin-bottom: 50px;
}

.heading {
  margin-bottom: 50px;
}
.heading h1 {
  font-size: 1.5rem;
  font-weight: 600px;
  text-transform: uppercase;
}

.names h1 {
  color: #2e2e2e;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
}

.service-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress {
  height: 1.5rem !important;
  width: 100% !important;
  font-size: 1rem;
}

.progress > div {
  color: black;
  font-weight: 700;
}

.project-work {
  margin: 100px 0;
}

.project-work h1 {
  font-size: 2rem;
  text-align: center;
  color: rgb(255, 147, 6);
  font-weight: bold;
}

.pricing {
  width: 100%;

  padding: 50px;
  position: relative;
}

.pricing:before {
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;

  z-index: -1;
  background: linear-gradient(150deg, rgb(255, 147, 6) 55%, #fff 0);
}

.money {
  font-size: 40px;
  line-height: 1;
  color: #606060;
}

.card {
  transition: 0.4s ease;
}
.card-header {
  color: rgb(255, 147, 6);
  font-size: 1.6rem;
  font-weight: bold;
  background: white !important;
  padding: 25px !important;
}

.card-body {
  padding: 30px 0 !important;
}

.card-body li {
  margin: 10px 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: #606060;
}

.card-footer {
  background: white !important;
  padding: 30px 0px !important;
}

.card-footer a {
  border: 1px solid rgb(255, 147, 6);
  border-radius: 100px;
  margin: 0 5px;
  padding: 12px 35px;
  outline: none;
  color: rgb(255, 147, 6);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4rem;
  text-align: center;
}

.card:hover .card-footer a {
  color: white;
  background: rgb(255, 147, 6);
  text-decoration: none;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.card:hover {
  transform: translateY(-20px);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.card:hover .card-header,
.card:hover .money {
  color: rgb(255, 147, 6);
}

.box {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  transition: 0.3s ease;
}

.box:hover {
  background: white !important;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: -60px !important;
}

.carousel-indicators li {
  background-color: #16c9f6;
}

.box a {
  position: relative;
}

.box a img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 20px;
}

.box a:after {
  content: "\f10d";
  font-family: "FontAwesome";
  width: 40px;
  height: 40px;
  background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
  color: white;
  position: absolute;
  top: 120%;
  left: 70%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box h1 {
  font-size: 18px;
  font-weight: 700;
  color: black;
  margin-bottom: 10px;
}

.box h2 {
  font-size: 13px;
  font-weight: 400;
  color: #666666;
  margin-bottom: 20px;
}

.nav-animation {
  /* margin: 10px; */
  padding: 10px !important;
  font-weight: 500 !important;
}

.nav-animation:hover {
  transition: 0.3s ease-in-out;
  background-color: rgb(255, 147, 6);
}
.top-heading {
  text-transform: uppercase;
  font-weight: 700 !important;
  font-size: 2.5em;
  color: rgb(255, 147, 6);
}

.headings h1 {
  color: rgb(255, 147, 6);
  font-weight: bold;
}
.headings p {
  color: gray;
  font-weight: 700;
  margin-bottom: 30px;
}
.talent {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: gray;
  margin-top: 10px;
}

.service-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer-heading {
  font-size: 1.3rem;
  color: rgb(255, 147, 6);
}
.service-icon > i {
  color: rgb(255, 147, 6);
}

.showoff {
  color: grey;
}

.count {
  color: rgb(255, 147, 6);
}
.count ~ p {
  text-align: center;
  font-size: 1.2em;
}

.about {
  width: 100%;
}
.about h1 {
  color: gray;
  font-size: 2rem;
}

.lower-bond {
  width: 30px;
  background-color: black;
  height: 3px;
  margin: auto;
}
.image-header > img {
  width: 100%;
  height: 50vh;
}
.about-wrapper {
  background-color: rgba(240, 123, 8, 0.9);
  font-family: "Montserrat", sans-serif !important;
  color: white;
  padding: 50px;
  margin-left: -150px;
}
.about-wrapper h1,
.about-wrapper p {
  color: white;
  font-weight: bold;
}

.about-wrapper p {
  font-weight: 500;
  color: white;
}
.about-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .about-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-wrapper {
    background-color: rgba(240, 123, 7, 0.7);
    box-shadow: 0px 0px 10px 0px orange;
    color: white;
    padding: 30px;
    margin-left: 0px;
  }
  .image-header img {
    height: 30vh;
  }
}

.contact {
  margin-top: 50px;
  width: 100%;

  background-color: rgb(253, 147, 6);
}

.icons-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.icons-footer i {
  font-size: 1.5rem;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  color: white;
}

.icons-footer i:hover {
  color: black;
  transition: 0.3s;
}

div.fixed {
  z-index: 999;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px;
}
.fixed-wrap {
  padding: 5px;
  border: 2px solid peachpuff;
  border-radius: 50%;
}
.fixed-wrap i {
  color: peachpuff;
}

/* Updated CSS  START */
.navigaiton-bar {
  background-color: #2e2e2e;
  border-bottom: 2px solid rgb(253, 147, 8);
}

/* Style the active class (and buttons on mouse-over) */
.active,
.btn:hover {
  background-color: rgb(253, 147, 8);
  color: white;
}

/* Updated CSS  END*/
